<%- layout('boilerplate') %>
<div class="container d-flex flex-column form-wrapper align-items-center justify-content-center mt-5">
	<h1 class="mb-4">Войти</h1>	
	<div class="containter">
		<form action="/users/login" method="POST">
			<div class="mb-3">
				<label for="username" class="form-label">Логин</label>
				<input
					type="text"
					class="form-control"
					id="username"
					name="username"
					aria-describedby="emailHelp"
				/>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Пароль</label>
				<input type="password" class="form-control" id="password" name="password"/>
			</div>
			<button type="submit" class="btn btn-primary">Войти</button>
		</form>
	</div>
</div>
