<%- layout('boilerplate') %>
<div class="container d-flex flex-column form-wrapper align-items-center justify-content-center mt-5">
	<h1 class="mb-4">Регистрация</h1>	
	<div class="containter">
		<form action="/users/register" method="POST">
			<div class="mb-3">
				<label for="Username" class="form-label">Логин</label>
				<input
					type="text"
					class="form-control"
					id="username"
					name="username"
				/>
			</div>
			<div class="mb-3">
				<label for="email" class="form-label">Email</label>
				<input
					type="email"
					class="form-control"
					id="email"
					name="email"
					aria-describedby="emailHelp"
				/>
				<div id="emailHelp" class="form-text">Мы не распространяем введенные вами данные.</div>
			</div>
			
			<div class="mb-3">
				<label for="password" class="form-label">Пароль</label>
				<input type="password" class="form-control" id="password" name="password" />
			</div>
			<button type="submit" class="btn btn-primary">Зарегистрироваться</button>
		</form>
	</div>
</div>
